.roadmap-box-wrap {
    border-radius: 30px;
    background: rgba(217, 217, 217, 0.05);
    backdrop-filter: blur(5px);
    border: 1px solid #454248;
}

.roadmap-section {
    position: relative;
    z-index: 2;
}
.modal-content{
    background: linear-gradient(to left, #333, #333 50%, #333 75%);
}
.modal_btn{
    background: linear-gradient(93deg, #2950B8 0%, #B30ACE 99.48%);
    border: 0;
}
.modal-body {
    color: #fff;
}

.roadmap-shape-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.roadmap-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    z-index: 1;
    padding: 200px 120px 200px 0;
}

.roadmap-item-common {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-left: -60px;
}

.roadmap-content:before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 6px;
    width: 100%;
    background: rgb(255 255 255 / 10%);
    content: "";
    margin-top: -3px;
}


.description-box {
    position: absolute;
    top: 35px;
    width: 70%;
    left: 50%;
    text-align: left;
    padding-left: 10px;
}

.description-box h4 {
    font-size: 14px;
}

.description-box p {
    font-size: 12px;
    margin-bottom: 10px;
}

.description-box .btn-inline {
    padding: 0;
    color: #fff;
    font-size: 12px;
    text-decoration: underline;
}

.description-box .btn-inline:hover {
    color: #2950B8;
}

.roadmap-item-common .circle {
    height: 16px;
    width: 16px;
    background: #2950B8;
    border-radius: 50%;
    margin: 0 auto;
    outline: 8px solid rgb(41 80 184 / 30%);
}

.roadmap-item-0 .circle {
    outline: 8px solid #fff;
}

.roadmap-item-common .date {
    font-size: 12px;
    margin-bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -35px;
}

.roadmap-inverted .description-box {
    top: auto;
    bottom: 35px;
}
.roadmap-inverted .date {
    top: auto;
    bottom: -35px;
}


.roadmap-title-wrap {
    display: grid;
    grid-template-columns: 5fr 7fr;
    padding: 40px;
}

.roadmap-title-wrap h3 {
    font-size: 28px;
    margin-bottom: 0;
}


.description-box .line-shape-top, .description-box .line-shape-bottom {
    position: absolute;
    left: 0;
    top: -20px;
    z-index: -1;
}


.description-box .line-shape-top {
    display: none;
}

.roadmap-inverted .description-box .line-shape-top {
    display: block;
    top: auto;
    bottom: -20px;
}

.roadmap-inverted .description-box .line-shape-bottom {
    display: none;
}


.roadmap-buttons .primary-btn {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    display: inline-block;
    padding: 15px 20px;
    color: #fff;
    font-size: 14px;
}

.roadmap-buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.roadmap-buttons .primary-btn img {
    margin-right: 5px;
}

.roadmap-buttons .primary-btn:hover {
   background: #2950B8;
}


.roadmap-item-common .shape-left, .roadmap-item-common .shape-right {
    display: none;
}
.roadmap-buttons a {
    box-shadow: none;
  }


@media (max-width: 1366px) {
    .roadmap-content {
        padding: 200px 70px 200px 0;
    }
    .roadmap-title-wrap {
        grid-template-columns: 3fr 7fr;
    }
}
@media (max-width: 1199px) {
    .roadmap-inverted .description-box .line-shape-top {
        height: 245px;
    }
}
@media (max-width: 991px) {
    .roadmap-title-wrap {
        display: block;
        text-align: center;
    }
    .roadmap-title-wrap h3 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .roadmap-buttons {
        justify-content: center;
    }

    .description-box {
        position: relative;
        width: 50%;
        text-align: left;
        padding-left: 20px;
        top: 0;
        left: 0;
    }
    .roadmap-item-common .circle {
        position: absolute;
        height: 9px;
        width: 9px;
        left: 50%;
        transform: translateX(-50%);
        outline: 5px solid rgb(41 80 184 / 30%);
        top: 3px;
    }
    .roadmap-item-common .date {
        position: initial;
        transform: translateX(0);
        width: 50%;
        padding-right: 20px;
        text-align: right;
    }
    .roadmap-content {
        padding: 50px 0;
        display: block;
    }
    .roadmap-item-common {
        margin-left: 0;
        display: flex;
        justify-content: space-between;
    }
    .roadmap-content:before {
        position: absolute;
        left: 50%;
        top: 3px;
        height: calc(100% - 3px);
        width: 2px;
        margin-top: 0;
        margin-left: -1px;
    }
    .roadmap-item-common:not(:last-child) {
        margin-bottom: 50px;
    }
    .description-box .line-shape-top, .description-box .line-shape-bottom {
        display: none!important;
    }
    .roadmap-inverted {
        flex-direction: row-reverse;
    }
    .roadmap-inverted .description-box {
        text-align: right;
        padding-left: 0;
        padding-right: 20px;
    }

    .roadmap-inverted .date {
        text-align: left!important;
        padding-right: 0!important;
        padding-left: 20px;
    }
    .roadmap-item-common .shape-right {
        display: block;
        position: absolute;
        bottom: 69%;
        z-index: -1;
        width: 100%;
        left: 20px;
    }
    .roadmap-inverted .shape-right {
        display: none;
    }
    .roadmap-inverted .shape-left {
        display: block;
        position: absolute;
        bottom: 69%;
        z-index: -1;
        width: 100%;
        left: auto;
        right: 20px
    }
    .roadmap-inverted .description-box {
        top: 0;
        bottom: 0;
    }
    .description-box h4 {
        font-size: 14px;
        margin-bottom: 20px;
        width: 60%;
    }

    .roadmap-inverted .description-box h4 {
        margin-left: auto;
    }
    .roadmap-buttons {
        gap: 10px;
    }
    .roadmap-buttons .primary-btn {
        font-size: 10px;
    }
    .roadmap-title-wrap {
        padding: 40px 20px 100px;
    }
    .roadmap-item-0 .circle {
        outline: 5px solid #fff!important;
    }
}

@media (max-width: 575px) {
    .roadmap-title-wrap {
        padding: 30px 10px 40px;
    }
    .roadmap-buttons .primary-btn {
        font-size: 8px;
    }
    .roadmap-buttons .primary-btn {
        border-radius: 6px;
        padding: 7px 10px;
    }
    section.roadmap-section {
        overflow: hidden;
    }
}
@media (max-width: 425px) {
    .description-box h4 {
        font-size: 12px;
    }
    .description-box p {
        font-size: 10px;
    }
    .roadmap-item-common .shape-right {
        bottom: 75%;
    }
    .description-box h4 {
        width: 75%;
    }
    .description-box .btn-inline {
        font-size: 10px;
    }
}