.section-title {
  text-align: center;
  margin-bottom: 65px;
}

.section-title .button-border {
  margin-bottom: 15px;
}

.section-title h2 {
  font-size: 48px;
}

.blog-item {background: rgba(255, 255, 255, 0.05);}
p.date svg {
  color: #2950B8;
  margin-right: 5px;
}

.blog-item-image img {
  width: 100%;
}

.blog-item {
  padding: 20px;
  border-radius: 8.937px;
  padding-bottom: 30px;
}

.blog-content a {
  color: #2950B8;
}

.blog-content h3 {
  font-size: 24px;
}

.blog-content p {
  color: #D1D1D1;
  margin: 10px 0;
}
.blog-item-wrapper {
  margin: 0 15px;
}

ul.slick-dots li button {
  background-color: #26262A;
  width: 21px;
  height: 21px;
  font-size: 0;
  border-radius: 50px;
}

ul.slick-dots {
  display: flex!important;
  justify-content: center;
}

ul.slick-dots li {
  margin: 0 7px;
}

section.blog-section ul.slick-dots {
  margin-top: 30px;
}

li.slick-active button {
  background-color: #2950B8!important;
}

.section-title p {
  color: #ddd;
  font-size: 18px;
  line-height: 1.8;
  margin-top: 15px;
  margin-bottom: 0;
}

section.blog-section {
  margin-top: 140px;
  position: relative;
  z-index: 1;
}

.blog-shape {
  position: absolute;
  top: 25%;
  left: -130px;
  z-index: -1;
}


@media screen and (max-width:1199px) {  
  .section-title h2 {
    font-size: 30px;
  }

  .blog-content h3 {
    font-size: 18px;
  }

  .blog-content p {
      font-size: 15px;
  }
  .blog-shape {
      max-width: 100%;
  }
}

@media screen and (max-width:991px) {  
  section.blog-section {
    margin-top: 80px;
}
.blog-shape {
  max-width: 300px;
}
}